<!DOCTYPE html lang="en">
<head>
<!--Font reference-->
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300">
<!--Style sheet link-->
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
<!--Social media icons link-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
 integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
 crossorigin="anonymous" referrerpolicy="no-referrer" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About</title>

</head>

<body>
    <header>
        <!-- Main Menu Section -->
        <div class="menu">

            <img src="/static/images\logo.png" alt="logo" class="logo">

            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('employee') }}">Employee Data</a></li>
                    <li><a href="{{ url_for('dash1') }}">Emp. Quits</a></li>
                    <li><a href="{{ url_for('dash2') }}">S.C Quits</a></li>
                    <li><a href="{{ url_for('dash3') }}">S.C Openings</a></li>
                    <li><a href="{{ url_for('dash4') }}">S.C Unemp. Rate</a></li>



                </ul>
            </nav>

        </div>
    </header>
    <!-- Upper Banner Section -->
    <div class="banner">
        <div class="container">
            <h1>Employee Retention - About</h1>
            <p>Sam Tracey</p>
            <p>G00398245</p>


        </div>
    </div>

    <!-- Container for all text on this page -->
    <div class="container">
        <h2>Overview</h2>
        <p>This Dashboard allows the user to analyse trends in local unemployment for our company and maco economic trends
            from the South Carolina and Southern Census district.
            The macro economic data is retrieved from the <a href="https://fred.stlouisfed.org/">Federal Reserve Economic Data (FRED) website</a>. </p>
            <br>
            <p>The Website enables you to:</p>
            <br>
            <ol>
                <li>Update the company unemployment data in the EMPLOYEE DATA tab;</li>
                <li>View the company unemployment trends in the EMP. QUITS tab;</li>
                <li>View the Employee Quit Trends for the Southern Census Region in the S.C QUITS tab;</li>
                <li>View the Job Openings Trends for the Southern Census Region in the S.C OPENINGS tab;</li>
                <li>View the Unemployment Trends for South Carolina in the S.C UNEMP. RATE tab;</li>
            </ol>
            <br>
        <p> All charts and data tables are interactive. You can zoom in on different sections, scroll and even download the plots as .png files.
            Quarterly trend lines have been plotted as well as the raw data points for each time period.

        </p>

    </div>
    <!-- Foot section including social media buttons / links -->
    <footer class="footer">
        
            
               <ul>
                   <li class="social-items"><a href="https://github.com/Sam-Tracey" target="_blank"><i class="fa-brands fa-github"></i></i></a></li>
                   <li class="social-items"><a href="https://www.linkedin.com/in/sam-tracey-327044188/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                   <li class="social-items"><a href="https://twitter.com/Sam_Tracey76" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
               </ul> 
            
        
        
    </footer>





</body>
</html>